@inject NavigationManager NavigationManager

<div class="centered-div">
    <h1>Start a Videoconference</h1>

    <label for="basic-url">Create a room by writing a name</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">@NavigationManager.BaseUri</span>
        </div>
        <input value="@createdRoomId" @oninput="FormatingRoomSlug" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    @if (!roomInputIsValid)
    {
        <strong>Some characters are not allowed</strong>
    }
    <button class="btn" disabled="@(!roomInputIsValid)" @onclick="CreateAndStartVideoconference">Launch the videoconference</button>

</div>

@code {
    string createdRoomId = "";
    bool roomInputIsValid = true;

    void FormatingRoomSlug(ChangeEventArgs e)
    {
        createdRoomId = (e.Value.ToString()).ToUpper();
        roomInputIsValid = Uri.IsWellFormedUriString(NavigationManager.BaseUri + createdRoomId, UriKind.RelativeOrAbsolute);
    }

    void CreateAndStartVideoconference()
        => NavigationManager.NavigateTo(NavigationManager.BaseUri + createdRoomId);
}
