@import 'variables';


.videosPanel {
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    background: $background;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.video {
    background: $background;
    margin: 0;
    padding: 0;
}

@keyframes colorchange {
    0% {
        background: $background;
    }

    50% {
        background: $plate;
    }

    100% {
        background: $background;
    }
}




.large {
    width: 100%;
    height: 100vh;
    background-position-x: center;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;
}

.centered-div {
    border: $border-size solid $mainColor;
    border-radius: 5px;
    background: $background;
    padding: 20px;
    text-align: center;
    @include box-shadow-hover;

    input {
        height: 40px !important;
    }


    .form-inline {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 1.5rem;
        border-bottom: 2px solid $foreground;
        /*        text-transform: uppercase;*/
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 15px;
        /*        letter-spacing: .1rem;*/
    }

    .btn {
        font-weight: bold;
        border: $border-size solid $border-color;
        border-left-width: 2px;
        border-right-width: 1px;
        @include transition;
        @include box-shadow;
        height: 40px;

        &:last-of-type {
            border-right-width: 2px;
        }

        &:disabled {
            opacity: 1;
            color: $text-color-secondary;
            background: $mainColor;
        }

        &:not([disabled]) {
            color: $text-color-main;
            background: $plate;
        }

        &:hover, &:active, &:focus {
            color: $text-color-secondary;
            background: $mainColor;
        }
    }

    ul {
        text-align: left;
    }

    .alert {
        margin-bottom: 0;

        p {
            margin-bottom: 0;
        }
    }
}

//MAIN
.connected-users {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    background: $mainColor;
    max-width: 25%;
    /*    height: 400px;*/
    text-align: right;
    @include border;
    @include box-shadow;
    padding: 20px;
    color: $background;

    h3 {
        font-size: 1.2rem;
        font-weight: bold;
        display: inline-block;
        color: $plate;
        /*        background: $plate;*/
    }

    .little {
        list-style: none;
        margin: 0 0 7px 0;
        padding: 0;

        li {
            display: inline;
            /*                background: $background;*/
/*            padding: 10px;*/
            margin: 0;

            span {
                background: $plate;
                border-radius: 3px;
                padding: 5px;
                color: $text-color-main;
                font-weight: bold;
            }
        }
    }
}

.toolbar-connectivity {
    position: absolute;
    margin: 0 auto;
    bottom: 100px;
    border-radius: 5px;
    background: rgba(0,0,0,.3);
    text-align: center;
    /*    @include border;*/
    @include box-shadow;

    ul {
        list-style: none;
        display: flex;
        padding: 15px 5px;
        justify-content: center;
        align-items: center;
        margin: 0;

        li {
            display: inline;

            .btn {
                font-weight: bold;
                border: none !important;
                @include transition;
                box-shadow: 0;
                background: transparent;
                margin: auto 10px;
                height: 40px;
                color: white;

                &:hover, &:active, &:focus {
                    color: $text-color-secondary;
                    background: $mainColor;
                }
            }
        }
    }
}

.videoboard {
/*    border: 1px solid red;*/
    width: 100vw;
    height: 100vh;
    background: $background;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;

    .toolbarSignalR {
        display: flex;
        justify-content: flex-start;

        h3 {
            margin: 0;
            margin-right: 20px;
        }

        ul {
            border-left: 1px solid $foreground;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;
                /*                background: $background;*/
                padding: 10px;
                margin: 0;

                span {
                    background: $mainColor;
                    border-radius: 3px;
                    padding: 5px;
                    color: $background;
                    font-weight: bold;
                }
            }
        }
    }
}

.video-user {
    border: 2px solid $mainColor;
    width: 720px;
    height: 350px;
}

#start {
    position: absolute;
    top: 10px;
    left: 10px;
}